<div id="page">
<h2>О нас</h2>
Как реализовать абсолютно новую бизнес-идею или увеличить число прямых продаж? Как привлечь покупателей в только открывшийся магазин или рассказать о полезной услуге? Компания AdPeps готова предложить вам стать участниками сервиса будущего – мобильной рекламы. Не секрет, что мобильный телефон сегодня есть практически у каждого. А значит, и реклама, ищущая свою целевую аудиторию, должна быть направлена на завоевание мобильных устройств. Мы предлагаем клиентам помощь в размещении рекламных объявлений и сообщений на экранах мобильных устройств, в мобильных приложениях, а также на мобильных версиях интернет-сайтов.<br/>
<br/>
Нашу дружную и слаженную команду мы собирали исключительно из крепких и опытных профессионалов, свободно ориентирующихся в мире мобильных технологий рекламы и знающих, как подать целевой аудитории блюдо информации под соусом рекламы. Мы ценим каждого нашего клиента, поэтому подход к решению поставленных задач всегда индивидуален и тщательно разработан. Результатом такого продуктивного сотрудничества является высокий результат, который достигается за короткое время. А результатом мы называем эффективно проявившее себя рекламное информирование и, как следствие, приток покупателей и увеличение числа продаж.<br/>
<br/>
Мы всегда находимся в поиске новых решений, партнеров и клиентов и в любое время готовы к взаимовыгодному сотрудничеству. Наши сотрудники никогда не станут навязывать вам собственные идеи – они могут лишь предложить или подсказать наилучший для того или иного конкретного случая вариант. Решение всегда принимает заказчик после конструктивного диалога и активного обсуждения.<br/>
<br/>
Команда AdPeps ждет ваших предложений. Воспользуйтесь нашими знаниями и умениями для того, чтобы занять устойчивую позицию на зыбкой почве современного рынка!<br/>
<br/>
С уважением, Ваша команда AdPeps.com<br/>
</div>
<%= render :partial => "footer"%>