<div id="page">
<h2>Мобильная реклама</h2>

<table>
	<tr>
		<td>
			<%= image_tag "clients.jpg"%>
		</td>
		<td>
			<b>Мобильная реклама, там где ваши клиенты</b><br/><br/>
			15% всего вэб траффика генерируется мобильными устройствами. Количество загрузок мобильных приложений увеличивается в 10 раз каждый год. Все крупные вэб сайты имеют версии для мобильных устройств. 32% владельцев смартфонов используют мобильный интернет ежедневно, около половины – от 4 до 7 дней в неделю. Инновационные инструменты таргетинга ADPEPS позволяют выделить именно ваших потенциальных клиентов.
		</td>
	</tr>


	<tr>
		<td>
			<%= image_tag "shopingcart.jpg"%>
		</td>
		<td>
			<b>Мобильная реклама есть у всех покупателей</b><br/><br/>

Пятая часть всех пользователей смартфонов использовали смартфон для получения информации о товарах при совершении покупок. В частности:<br/>
<br/>
	<ul>
		<li>
    21% Использовали смартфон для сравнения цен и поиска информации о товаре
</li>
    <li>20% Изменили свое мнение о товаре или услуге непосредственно в магазине в зависимости от полученной информации
    </li>
    <li>
    20% Изменили свое мнение о товаре или услуге онлайн в зависимости от полученной информации
</li>
		</td>
	</tr>

<tr>
	<td>
			<%= image_tag "eye2.jpg"%>
	<td>

	<b>Видимость мобильной рекламы значительно выше</b><br/><br/>

	90% пользователей обращают внимание на мобильную рекламу при пользовании мобильным интернетом со смартфонов или при использовании приложений. Это связано в первую очередь с площадью занимаемой рекламой относительно площади всего экрана, а также с разнообразными видами рекламы, которую можно размещать на мобильных устройствах, например, текстовые и графические баннеры, интерактивные баннеры, Push уведомления и пр.

	</td>
</tr>

<tr>
	<td>
			<%= image_tag "statrc.jpg"%>
	<td>

	<b>Видимость мобильной рекламы значительно выше</b><br/><br/>

	90% пользователей обращают внимание на мобильную рекламу при пользовании мобильным интернетом со смартфонов или при использовании приложений. Это связано в первую очередь с площадью занимаемой рекламой относительно площади всего экрана, а также с разнообразными видами рекламы, которую можно размещать на мобильных устройствах, например, текстовые и графические баннеры, интерактивные баннеры, Push уведомления и пр.

	</td>
</tr>

</table>
</div>