<div id="page">
<h3>Контакты</h3>
<br/>
<h2>AdPEPS Advertising network</h2>
<br/>
    Телефон: <b>+7 499 553 0821</b><br/>
    <br/>
    Факс:<b>+7 499 553 0821</b><br/>
    <br/>
    Электронный адрес: <b>adpeps@outlook.com</b><br/>
    <br/>
    Адрес: <b>123290 г. Москва, 3-я Магистральная ул. д.12</b><br/>
    <br/>

    Как проехать:</br>
    <%= image_tag "map.png" %>
  </div>