    <div id="page">
    <h2>Документы</h2>
    <ul class="docs">

        <li class="doc">
        	Оферта на оказание Услуг Системой ADPEPS.COM для рекламодателей
        	<br>
        	<a href="/perch/perch/resources/ofertareklamodatel.pdf">скачать</a>
        </li>

        <li class="doc">
        	Оферта на оказание Услуг Системой ADPEPS.COM для рекламных площадок
        	<br>
        	<a href="/perch/perch/resources/ofertaploshadka.pdf">скачать</a>
        </li>

        <li class="doc">
        	Общие условия оказания Услуг Системой ADPEPS.COM
        	<br>
        	<a href="/perch/perch/resources/obshieusloviaokazaniauslug.pdf">скачать</a>
        </li>

    </ul>
</div>