<div id="page0" style="display: none;">
<%=render :template=>'main/page0'%>
</div>
<div id="page1">
<%=render :template=>'main/page1'%>
</div>
<div id="page2" style="display: none;">
<%=render :template=>'main/page2'%>
</div>
<div id="page3">
<%=render :template=>'main/page3'%>
</div>

	<div class="rocket">
		<ul>
			<li id='page0rocket' class="active" onClick="javascript: activatePage(0);">
				<a href="#" onClick="javascript: activatePage(0);">1</a>
			</li>
			<li id='page1rocket' onClick="javascript: activatePage(1);">
				<a href="#" onClick="javascript: activatePage(1);">2</a>
			</li>
			<li id='page2rocket' onClick="javascript: activatePage(2);">
				<a href="#" onClick="javascript: activatePage(2);">3</a>
			</li>
			<li id='page3rocket' onClick="javascript: activatePage(3);">
				<a href="#" onClick="javascript: activatePage(3);">4</a>
			</li>
		</ul>
		<div id="rocket_png" class="active"></div>
	</div>