<div id="page0" style="display: none;">
<%=render :template=>'main/page0'%>
</div>
<div id="page1">
<%=render :template=>'main/page1'%>
</div>
<div id="page2" style="display: none;">
<%=render :template=>'main/page2'%>
</div>
<div  >
<%=render :template=>'main/page3'%>
</div>
