<div id="page">
<h2>Что мы предлагаем рекламным площадкам?</h2>

<ul>
	<li>
		<h3>Простой инструментарий и подробное описание</h3><br/>
		SDK для iOS, Android, код для мобильных площадок<br/>
		<%= image_tag "oss.jpg"%>
	</li>
</ul>

</div>
<%= render :partial => "footer", :locals=>{:inc_script => true}%>