<h1>Начать очень просто!</h1>
<div class="cloud cloud1">
	<%= image_tag "cloud1Pic.png" %><br/>
	<b>1. ЗАРЕГЕРИСТРИРОВАТЬСЯ</b><br/>
	<br/>
	Укажите ваше имя, e-mail и пароль.<br/>
	Подтвердите электронный адрес.
</div>
<div class="cloud cloud2">
	<%= image_tag "cloud2Pic.png" %><br/>
	<b>2. СОЗДАТЬ КАМПАНИЮ</b><br/>
	<br/>
	Загрузить или создать рекламу,<br/>
	определить бюджет и настроить<br/>
	таргетинг.
</div>
<div class="cloud cloud3">
	<%= image_tag "cloud3Pic.png" %><br/>
	<b>3. ЗАПУСТИТЬ РЕКЛАМУ</b><br/>
	<br/>
	Запустите свою кампанию на сотнях<br/>
	мобильных сайтов и приложений<br/>
</div>
<div class="bottom_link">
	<a href="#">ИНСТРУМЕНТЫ ДЛЯ УСПЕХА МОБИЛЬНОЙ РЕКЛАМЫ</a>
</div>

