<h1 style="color: #313c41;">Инструменты для мобильной рекламы</h1>
<div class="news">
<div class="one">
	<h2>Найдите свою<br/>целевую аудиторию</h2><br/>

	Многочисленные варианты таргетинга<br/> 
	обеспечивает достижение вашим<br/>
	предложением нужных мобильных<br/>
	пользователей.<br/>
	<br/>

	<ul>
		<li>
			География: Мир, Страна, Город,<br/>
    		вплоть до улицы
    	</li>
    	<li>
			Операционные системы: iOS, Android,<br/>
    		BlackBerry, Windows Phone и другие
    	</li>
    	<li>
    		Тип устройства: Смартфоны или планшеты
    	</li>
</div>
<div class="two">
	<h2>Контролируйте вид<br/>своих объявлений</h2><br/>

	Используйте конструктор для загрузки</br>
	и создания баннеров различных размеров.</br>
	<br/>

	<ul>
		<li>
			Загружайте свои собственные</br>
     		рекламные баннеры
    	</li>
    	<li>
			Используйте конструктор для создания</br>
     		своих баннеров
    	</li>
    	<li>
    		Отслеживайте эффективность</br>
     		каждого объявления</br>
    	</li>
</div>
<div class="three">
	<h2>Управляйте<br/>кампаниями</h2><br/>

	Опыт эффективной, действенной рекламы</br>
	на мобильных устройствах для предприятий</br>
	любого размера.</br>
	<br/>

	<ul>
		<li>
			Контролируйте свой бюджет
    	</li>
    	<li>
			Определяйте стоимость клика
    	</li>
    	<li>
    		Регулируйте бюджет в любое время
       	</li>
       	<li>
       		Совершайте платежи просто и безопасно
       	</li>
</div>
</div>
<div class="bottom_link">
	<a href="#">ИНТЕРЕСНЫЕ ФАКТЫ</a>
</div>
