<h1 style="color: #313c41;">Инструменты для мобильной рекламы</h1>
<div class="news">
	<div class="one">
		<h4>Найдите свою<br/>целевую аудиторию</h4><br/>

		Многочисленные варианты таргетинга<br/> 
		обеспечивает достижение вашим<br/>
		предложением нужных мобильных<br/>
		пользователей.<br/>
		<br/>

		<ul>
			<li>
				География: Мир, Страна, Город,<br/>
	    		вплоть до улицы
	    	</li>
	    	<li>
				Операционные системы: iOS, Android,<br/>
	    		BlackBerry, Windows Phone и другие
	    	</li>
	    	<li>
	    		Тип устройства: Смартфоны или планшеты
	    	</li>
	    </ul>
	</div>
	<div class="two">
		<h4>Контролируйте вид<br/>своих объявлений</h4><br/>

		Используйте конструктор для загрузки<br/>
		и создания баннеров различных размеров.<br/>
		<br/>

		<ul>
			<li>
				Загружайте свои собственные<br/>
	     		рекламные баннеры
	    	</li>
	    	<li>
				Используйте конструктор для создания<br/>
	     		своих баннеров
	    	</li>
	    	<li>
	    		Отслеживайте эффективность<br/>
	     		каждого объявления<br/>
	    	</li>
	    </ul>
	</div>
	<div class="three">
		<h4>Управляйте<br/>кампаниями</h4><br/>

		Опыт эффективной, действенной рекламы<br/>
		на мобильных устройствах для предприятий<br/>
		любого размера.<br/>
		<br/>

		<ul>
			<li>
				Контролируйте свой бюджет
	    	</li>
	    	<li>
				Определяйте стоимость клика
	    	</li>
	    	<li>
	    		Регулируйте бюджет в любое время
	       	</li>
	       	<li>
	       		Совершайте платежи просто и безопасно
	       	</li>
	    </ul>
	</div>
</div>
<div id="page2bottom" class="bottom_link">
	<a href="#" onClick="javascript: activatePage(3);">ИНТЕРЕСНЫЕ ФАКТЫ</a>
</div>
