<div id="page">
<h2>Вопросы</h2>

<ul>
	<li>
		<b>Как часто обновляется статистика показов/кликов?</b>
		<p>
		Мы стараемся предоставить вам доступ к статистике показов и переходов в режиме реального времени. Однако в связи с особенностями хранения и обработки данных, эти сведения носят ориентировочный характер. Точные и окончательные цифры появляются в статистике за предыдущий день.
         </p>
	</li>
	<li>
		<b>Когда происходят выплаты? Какая минимальная сумма выплат?</b><br/><br/>
		<p>
                    Выплаты осуществляются в течение 5 рабочих дней со дня создания заявки. Минимальная сумма выплаты – 500 рублей. Денежные средства могут быть переведены на счета в системах Yandex money, Webmoney или на расчетный счет в банке (для юридических лиц).
        </p>
	</li>

	<li>
		<b>Какие площадки принимаются в рекламную сеть?</b><br/><br/>
		<p>
                    Мобильные сайты, веб-сайты, имеющие мобильный трафик и приложения для мобильных устройств на базе iOS и Android.
                </p>
	</li>

	<li>
		<b>Как осуществляется расчет за рекламу?</b><br/><br/>
		<p>
                    Пополнить свой рекламный счет можно с помощью банковской карты, электронных платежных систем, QIWI кошелька. При формировании счета Вам будут предоставлены подробные инструкции по оплате.
                </p>
	</li>

	<li>
		<b>Какова стоимость размещения рекламы в сети?</b><br/><br/>
		<p>
                    Ставка в нашей сети составляет от 2 рублей за клик. Сеть работает по принципу аукциона. Каждый участник определяет условия показа объявлений при размещении своей рекламной кампании. В зависимости от этих условий, а так же от CTR и других параметров ваших объявлений и будет идти конкуренция за трафик. Система автоматически выбирает для показа наиболее эффективные объявления.
                </p>
	</li>

	<li>
		<b>Какие площадки участвуют в вашей сети?</b><br/><br/>
		<p>
                    Участниками сети являются мобильные сайты и приложения для телефонов.
                </p>
	</li>

	<li>
		<b>Какой формат рекламных объявлений используется в сети?</b><br/><br/>
		<p>
                    Система работает с графическими и текстовыми объявлениями. Текстовые объявления могут быть двустрочными (заголовок + текст) и однострочными.
                </p>

	</li>

	<li>
		<b>Как оплатить рекламу в системе ADPEPS.COM?</b><br/><br/>
		<p>
                    Для оплаты рекламы вам необходимо:<br>
1. Зарегистрироваться.<br>
2. В панели управления выбрать меню "Финансы".<br>
3. Перейти по ссылке "Пополнить баланс".<br>
4. Выбрать удобную вам форму оплаты:<br>
<br>     
При выборе любой формы оплаты  заказа  на сайте adpeps.com , Вы будете автоматически перенаправлены на платежную форму процессингового центра PayU, для внесения ваших финансовых данных.<br>
  Все данные, введенные Вами на платежной форме процессингового центра PayU, полностью защищены в соответствии с требованиями стандарта безопасности PCI DSS. Мы получаем информацию только о совершенном Вами платеже.<br>
  На указанный Вами при оформлении платежа адрес электронной почты, будет отправлено сообщение об авторизации платежа.<br>
  Сразу после совершения платежа вы будете перенаправлены обратно на наш сайт. Информация о вашем платеже может идти до нас от 5 секунд до нескольких минут. В случае, если по вашему мнению произошла задержка в обработке заказа, Вам необходимо обратиться в офис компании по телефону +7 499 553 0821.
                </p>
	</li>

	<li>
		<b>Могу ли я вернуть не использованные средства?</b><br/><br/>
		<p>
                    Да, можете. Вам необходимо в панели управления аккаунтом пройти в разел Финансы и перейти по ссылке "Вывод средств" и заполнить все необходимые поля.
                </p>

	</li>

	<li>
		<b></b><br/><br/>
	</li>

	<li>
		<b></b><br/><br/>
	</li>

	<li>
		<b></b><br/><br/>
	</li>


</ul>
</div>
<%= render :partial => "footer", :locals=>{:inc_script => true}%>