<div id="page">
<h3>Работа у нас</h3>
<br/>
<h3>Менеджер по продаже рекламы</h3>
<br/>
Должностные обязанности:
<br/>- активный поиск клиентов
<br/>- постпродажное обслуживание
<br/>- медиапланирование
<br/>- подготовка и проведение презентаций для клиентов
<br/>- ведение отчетности
<br/>
<br/>Навыки:
<br/>- образование: Высшее/неоконченное высшее
<br/>- Опыт в продажах
<br/>- грамотная устная и письменная речь
<br/>- коммуникативные навыки
<br/>- активная жизненная позиция
<br/>- психологическая устойчивость
<br/>- нацеленность на результат
<br/>- ответственность
<br/>
<br/>Условия работы:
<br/>- Возможен гибкий график работы (40 часов в неделю)
<br/>- Высокая заработная плата (от 35 000 руб., в зависимости от квалификации + % с продаж)
<br/>- Дружный молодой коллектив
<br/>
<br/><a href="#">Отправить резюме</a>
<br/>
<br/>
<h3>PR менеджер</h3>
<br/>- Знание современных методов распространения информации в интернет
<br/>
<br/>Желательно:
<br/>Профессионализм, ответственность, трудолюбие, позитивный настрой, желание работать в команде, ориентация на результат, креативность, <br/>творческий подход, умение грамотно формулировать мысли.
<br/>
<br/>Обязанности:
<br/>- Разработка стратегии общения с представителями общественности и средствами массовой информации.
<br/>- Разработка плана проведения PR-кампаний.
<br/>- Определение бюджета PR-кампаний.
<br/>- Организация пресс-конференций, брифингов, медиа-китов, бэкграундов, интервью руководителей предприятия в средствах массовой информации.
<br/>- Аналитическая деятельность (анализ эффективности проведенных PR-кампаний; анализ PR-стратегии конкурентов).
<br/>- Разработка предложений по совершенствованию структуры взаимодействия PR-персонала с другими структурными подразделениями компании.
<br/>- PR-кампании в интернете
<br/>- Создание статей, рекламных текстов
<br/>
<br/>Условия работы:
<br/>- Возможен гибкий график работы (40 часов в неделю)
<br/>- Высокая заработная плата (от 30 000 руб., в зависимости от квалификации)
<br/>- Дружный молодой коллектив
<br/>
<br/><a href="#">Отправить резюме</a>
</div>