.rocket{
	position: fixed;
	text-align: right;
	width: 60px;
	height: 120px;
}
.rocket li.active, .rocket li:hover{
	background: url(menu_on.png) no-repeat center center;
	cursor: pointer;
}
.zoom_js{
	margin: 10px;
	float: left;
	z-index: 10;
}
.iphone2{
	width:3px;
	background: url(iphonept1.png);
	padding-left: 3px;
}
.iphone{
	background: url(iphoneback.png) no-repeat;
	background-position: 14px center;
	width: 210px;
	padding-top: 6px;
}
.bottom_link{
	height: 25px;
	background: url(arrow_down.png) no-repeat center bottom;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 100px;
	left: 10px;
	/*display: none;*/
}
#clouds_id{
	position: relative;
	z-index: 100;
}