.rocket{
	position: fixed;
	text-align: right;
	width: 60px;
	height: 120px;
}
.rocket li.active, .rocket li:hover{
	background-color: #5cb75c;
	cursor: pointer;
}
.zoom_js{
	margin: 15px;
	float: left;
	z-index: 10;
}
.iphone{
	background: url(iphoneback.png) no-repeat;
	background-position: 18px 65px;
	width: 214px;


}
.bottom_link{
	height: 25px;
	background: url(arrow_down.png) no-repeat center bottom;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 100px;
	left: 10px;
}