@font-face {
    font-family: FavoritHeavyC; /* Имя шрифта */
    src: url(/FavoritHeavyC.otf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: FavoritCondC; 
    src: url(/FavoritCondC.otf); 
  }
@font-face {
	font-family: FiveMinutes; 
    src: url(/FiveMinutes.otf); 
  }
*{
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5{
	font-weight: 100;
	font-family: FavoritHeavyC;
} 
a, a:active{
	text-decoration: none;
	color: #333333;
}
a:hover{
	text-decoration: underline;
	color: #333333;
}

html{
	font-family: FavoritHeavyC;
	font-size: 9pt;
}
body{
	border-top: 4px #333333 solid;
	overflow-x:hidden;
}
.body2{
}
.logo{
	float: left;
	margin-top: 20px;
}
.header{
	width: 950px;
	margin: 0 auto;

}
/*	MENU */
.header .menu{
	float: left;
	margin: 10px 0px 0px 100px;
}
.header .menu .menu-item{
	float: left;
}
.header .menu .divider{
	float: left;
	background-color: #333333;
	width: 2px;
	height: 100%;
	margin: 0px 10px;
}
/* END OF MENU */
.menu-right{
	float:right;
}
.login{
	background-color: #333333;
	color: #ffffff;
	padding: 6px 15px 13px;
}
.login a{
	color: #ffffff;
}
.lang{
	float: right;
	margin-top:10px;
	color: #333333;
	padding-right: 10px;
	word-spacing: 10px; 
}
.lang a{
	text-decoration: underline;
	font-size: 8pt;

	color: #666666;	
}
.rocket ul {
list-style: none;
float: right;
}
.rocket li {
	background-color: #b75c5c;
	border: #fafafa solid 2px;
	border-radius:20px;
	font-size: 8px;
	padding: 1px 4px;
	margin-bottom: 10px;
	vertical-align: sub;
	outline: 0;
}
.rocket div.active{
	float: right;
	margin-right: 10px;
	margin-top: -7px;
	background-image: url(rocket.png);
	height: 32px;
	width: 22px;
	opacity: 0.8;
}
.rocket li a{
	text-decoration: none;
	color: #ffffff;	
}

.content {
	font-family: FavoritCondC;
	font-size: 16px;
	color: #333333;
	background:#DDDDDD url(bg_pattern.png) repeat;
}
.content h1{
	font-family: FiveMinutes;
	font-size: 80px;
	color: #e9f5fa;
	text-align: center;
		text-shadow: 1px 1px 2px black;

}
#page, #page0, #page1, #page2, #page3{
	padding-top: 160px;
}
#page{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
}
#page0{
	background:#DDDDDD url(bg_pattern.png) repeat; /*url(background2.png)  url(bg_pattern.jpg)*/
	

}
.blocks{
	width: 960px;
	margin:0px auto;
}
.youtube{
	float:left;
}
.youtube h3{
	font-family: FavoritCondC;
	color: #ffcc00;
	text-shadow: 1px 1px 2px black;
	font-size: 32px;
	margin-bottom: 27px;
}
.youtube h1{
	color: #ffffff;
	font-size: 40px;
	margin-top: 38px;
	font-family: FavoritCondC;
	text-shadow: 1px 1px 2px black;
	text-align: left;

}
.youtube h2{
	color: #ffffff;
	font-size: 49px;
	margin-top: 24px;
		text-shadow: 1px 1px 2px black;

}
.side {
	float: right;
	padding: 0px 10px;
}
.icons{
	margin-top: 70px;
	word-spacing: 33px;
	height: 45px;
	width: 222px;
}
.icons img{
	width: 25px;
}
#page1{
	background:#87baed url(background2.png) repeat;
	text-align: center;

}
.clouds{
	width: 1040px;
	margin: 80px auto;
}
.cloud{
	text-align: center;
	position: relative;
	float: left;
	margin: 0px 20px;
}
.cloud img{
	margin-top: -30px;
	margin-bottom: 20px;
}
.cloud1{
	background: url(cloud1.png) no-repeat center bottom;
	width: 304px;
	height: 209px;
	color: #ff9900;
}
.cloud2{
	background: url(cloud2.png) no-repeat center bottom;
	width: 304px;
	height: 217px;
	color: #3399ff;
}
.cloud3{
	background: url(cloud3.png) no-repeat center bottom;
	width: 304px;
	height: 218px;
	color: #cc3333;
}
.cloud2 img{
	margin-left: 10px;
}
.cloud3 img{
	margin-left: 20px;
}
#page2{
	background:#DDDDDD url(bg_pattern.png) repeat; /*url(background2.png)  url(bg_pattern.jpg)*/
}
#page2 h2{
	color: #339900;
	background: no-repeat left top;
	height: 60px;
	padding-left:60px;
	font-size: 12pt;
}
#page2 .news div{
	float:left;
	font-size: 12pt;
	margin: 0px 55px;

}
#page2 .news .one h2{
	background-image: url(page2icon1.png);
}
#page2 .news .two h2{
	background-image: url(page2icon2.png);
}
#page2 .news .three h2{
	background-image: url(page2icon2.png);
}
#page2 div ul{
	list-style: url(line.png) outside;
	padding-left: 20px;
}
#page2 .news{
	width: 1040px;
	margin: 80px auto;
	height: 300px;

}
#page3{
	background:#DDDDDD url(bg_pattern4.png) repeat; /*url(background2.png)  url(bg_pattern.jpg)*/
}

.facts{
	margin: 0px auto;
		width: 1020px;

}
.facts2{
	display: inline-block;	
}
.facts2 div{
	float: left;
	width: 300px;
	margin: 0 20px;
}
.facts2 div h2 {
	color: #660000;
	font-size: 24px;
}
.facts2 div a{
	float: right;
	font-family: FavoritHeavyC;
	text-decoration: underline;
	font-size: 10pt;
}

.partners{
	text-align: center;
}
.partners2{
	background:#DDDDDD url(bg_pattern.jpg) repeat;
	padding:20px 60px;
	margin-top: 40px;
}
.partners img {
	margin: 0px 20px;
}
.footer{
	background: url(footer_bg.png) repeat;
	height: 120px;
	width: 100%;
}
.footer .menu{
		color: #33ccff;
}
.footer .menu .menu-item{
	float: left;
}
.footer .menu .menu-item a{
	color: #33ccff;
	height: 10px;
}

.footer .menu .divider{
	float: left;
	background-color: #33ccff;
	width: 2px;
	height: 100%;
	margin: 0px 20px;
}
.footer .social{
	float: right;
}
.footer_border{
	border-bottom: solid 1px #5d5d5d;
	margin: 0px auto;
}
.footer_1 {
	height: 45px;
	padding-top: 25px;
	padding-left: 100px;
	padding-right: 100px;
}
.footer_2{
	color: #66cc00;
	padding: 20px 100px;
}
.footer_2 .subscribe {
	color: #999999;
}
.payment{
	float: left;
	margin-right: 200px;

}
.payment img {
	margin: 0px 2px;
}
.subscribe{
	float: right;
	font-size: 10px;
}
input{
	font-size: 10px;
	border-radius: 2px;
	border :none;
	padding: 2px 4px;

}
.button{
	background-color: #2e9f01;
	color: #ffffff;
}
.subscribe input{
	margin-left: 10px;
}
.subscribe input .text{
	width: 145px;
}

.docs {
    list-style: none outside none;
    margin-bottom: 50px;
}
.docs li.doc {
    background: url("doc.png") no-repeat scroll left top transparent;
    margin: 15px 0;
    min-height: 40px;
    padding-left: 60px;
    padding-top: 5px;
}
